In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as spark_sum, avg, count, desc, month, year

spark = SparkSession.builder \
    .appName("Sales report to MongoDB") \
    .config("spark.jars.packages", "org.postgresql:postgresql:42.2.27,org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .config("spark.mongodb.output.uri", "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin") \
    .getOrCreate()


# PostgreSQL connection remains the same
pg_url = "jdbc:postgresql://postgres:5432/lab2BDA"
pg_properties = {
    "user": "zloyaloha",
    "password": "12341234",
    "driver": "org.postgresql.Driver"
}

In [2]:
sales = spark.read.jdbc(pg_url, "f_sale", properties=pg_properties)
products = spark.read.jdbc(pg_url, "d_product", properties=pg_properties)
customers = spark.read.jdbc(pg_url, "d_customer", properties=pg_properties)
stores = spark.read.jdbc(pg_url, "d_store", properties=pg_properties)
suppliers = spark.read.jdbc(pg_url, "d_supplier", properties=pg_properties)
ratings = spark.read.jdbc(pg_url, "d_product_rating", properties=pg_properties)

In [3]:
top10_products = (
    sales
    .join(products.select("product_id", "name", "brand", "category"), on="product_id")
    .groupBy("name", "brand", "category")
    .agg(
        spark_sum("quantity").alias("total_quantity"),
        spark_sum("total_price").alias("total_revenue")
    )
    .orderBy(desc("total_quantity"))
    .limit(10)
)

top10_products.show()

revenue_by_category = (
    sales.join(products.select("product_id", "category"), "product_id")
    .groupBy("category")
    .agg(spark_sum("total_price").alias("total_revenue"))
)

revenue_by_category.show()

ratings_with_product = ratings.join(
    products.select("product_id", "name", "category", "brand"),
    on="product_id",
    how="inner"
)

avg_rating_reviews = ratings_with_product.groupBy("name", "category", "brand") \
    .agg(
        avg("rating").alias("avg_rating"),
        count("reviews").alias("review_count")
    )

avg_rating_reviews.show()

+---------+--------+--------+--------------+------------------+
|     name|   brand|category|total_quantity|     total_revenue|
+---------+--------+--------+--------------+------------------+
|  Cat Toy|    Jayo|    Food|            70|           3070.29|
|Bird Cage|Photobug|    Cage|            69|3405.9499999999994|
| Dog Food| Youspan|    Cage|            65|2507.8500000000004|
|Bird Cage|    Jayo|     Toy|            64|3821.3099999999995|
|Bird Cage| Dynabox|     Toy|            62|3242.2400000000002|
| Dog Food|   Npath|     Toy|            62|           3227.09|
|Bird Cage|   Quinu|    Food|            58|2707.2799999999997|
|Bird Cage| Gigabox|    Cage|            57|2373.1399999999994|
|  Cat Toy|  Skimia|    Cage|            56|1533.2599999999998|
|  Cat Toy|Photobug|    Food|            56|2622.0499999999997|
+---------+--------+--------+--------------+------------------+

+--------+-----------------+
|category|    total_revenue|
+--------+-----------------+
|    Cage|831117.9400000003|
|    Food|830632.5500000005|
|     Toy|868101.6299999994|
+--------+-----------------+

+---------+--------+-----------+------------------+------------+
|     name|category|      brand|        avg_rating|review_count|
+---------+--------+-----------+------------------+------------+
|  Cat Toy|     Toy|     Demizz|3.5999999999999996|           2|
|Bird Cage|    Cage|      Skyba|2.9250000000000003|           4|
|  Cat Toy|    Food|  Rhynoodle|               4.3|           2|
| Dog Food|     Toy|   Fanoodle|2.3833333333333333|           6|
|Bird Cage|    Cage|      Trupe|2.5999999999999996|           4|
|Bird Cage|    Food| Babbleblab|               3.5|           4|
|  Cat Toy|    Food|     Avamba|               4.4|           1|
| Dog Food|     Toy|   Topdrive|1.2333333333333334|           3|
|  Cat Toy|    Food|     Trudeo|3.3000000000000003|           4|
|  Cat Toy|    Food|Brainsphere|1.8666666666666665|           3|
|  Cat Toy|    Cage|     Tambee|               1.8|           1|
| Dog Food|     Toy|     Wikido|               4.1|           2|
| Dog Food|    Cage|     Skinte|2.7600000000000007|           5|
| Dog Food|    Cage|     Skidoo|               4.4|           1|
|Bird Cage|     Toy|  Rhynoodle|               4.6|           1|
|  Cat Toy|    Food|   Fiveclub|               3.4|           1|
| Dog Food|    Cage|    Gigabox| 3.283333333333333|           6|
|Bird Cage|    Cage|      Zoovu|3.3000000000000003|           3|
|Bird Cage|    Food|   Fivechat|               2.7|           2|
|Bird Cage|     Toy|    Zoombox|               4.2|           3|
+---------+--------+-----------+------------------+------------+
only showing top 20 rows

In [4]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_products"
}

top10_products.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "product_top10") \
    .save()

revenue_by_category.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "revenue_by_category") \
    .save()

avg_rating_reviews.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "avg_rating_reviews") \
    .save()

In [5]:
from pyspark.sql.functions import year, month, to_date

sales = sales.withColumn("sale_date", to_date("sale_date"))
sales = sales.withColumn("year", year("sale_date"))
sales = sales.withColumn("month", month("sale_date"))

monthly_sales = (
    sales.groupBy("year", "month")
    .agg(spark_sum("total_price").alias("total_revenue"))
    .orderBy("year", "month")
)

monthly_sales.show()

yearly_sales = (
    sales.groupBy("year")
    .agg(spark_sum("total_price").alias("total_revenue"))
    .orderBy("year")
)

yearly_sales.show()

monthly_avg_order = (
    sales.groupBy("year", "month")
    .agg(
        count("*").alias("order_count"),
        spark_sum("total_price").alias("total_revenue"),
        avg("total_price").alias("avg_order_value")
    )
    .orderBy("year", "month")
)

monthly_avg_order.show()

+----+-----+------------------+
|year|month|     total_revenue|
+----+-----+------------------+
|2021|    1|224158.53999999992|
|2021|    2|192348.31000000026|
|2021|    3|207282.19999999987|
|2021|    4| 206592.8200000001|
|2021|    5|211764.86000000002|
|2021|    6|215042.79999999978|
|2021|    7|220496.51000000036|
|2021|    8|221275.78000000003|
|2021|    9|210623.42999999985|
|2021|   10| 228743.3200000001|
|2021|   11|200154.69000000003|
|2021|   12|191368.86000000004|
+----+-----+------------------+

+----+------------------+
|year|     total_revenue|
+----+------------------+
|2021|2529852.1199999945|
+----+------------------+

+----+-----+-----------+------------------+------------------+
|year|month|order_count|     total_revenue|   avg_order_value|
+----+-----+-----------+------------------+------------------+
|2021|    1|        874|224158.53999999992| 256.4743020594965|
|2021|    2|        739|192348.31000000026|260.28188092016273|
|2021|    3|        843|207282.19999999987| 245.8863582443652|
|2021|    4|        837| 206592.8200000001|246.82535244922352|
|2021|    5|        828|211764.86000000002| 255.7546618357488|
|2021|    6|        822|215042.79999999978| 261.6092457420922|
|2021|    7|        858|220496.51000000036| 256.9889393939398|
|2021|    8|        897|221275.78000000003|246.68425863991084|
|2021|    9|        839|210623.42999999985|251.04103694874834|
|2021|   10|        892| 228743.3200000001| 256.4386995515696|
|2021|   11|        801|200154.69000000003| 249.8810112359551|
|2021|   12|        770|191368.86000000004|248.53098701298708|
+----+-----+-----------+------------------+------------------+

In [6]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_time"
}

monthly_sales.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "monthly_sales") \
    .save()

yearly_sales.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "yearly_sales") \
    .save()

monthly_avg_order.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "monthly_avg_order") \
    .save()

In [7]:
sales_with_store = sales.join(stores, sales.store_id == stores.store_id, "inner")

top5_stores = (
    sales_with_store
    .groupBy("name", "location", "city")
    .agg(spark_sum("total_price").alias("total_revenue"))
    .orderBy(desc("total_revenue"))
    .limit(5)
)

top5_stores.show()

sales_by_location = (
    sales_with_store
    .groupBy("city", "country")
    .agg(spark_sum("total_price").alias("total_revenue"),
         count("sale_id").alias("total_sales"))
    .orderBy(desc("total_revenue"))
)

sales_by_location.show()

avg_check_per_store = (
    sales_with_store
    .groupBy("name", "location", "city")
    .agg(avg("total_price").alias("avg_receipt"))
    .orderBy(desc("avg_receipt"))
)

avg_check_per_store.show()

+-----------+----------+---------+-------------+
|       name|  location|     city|total_revenue|
+-----------+----------+---------+-------------+
|       DabZ|13th Floor|   Grekan|       499.85|
|Thoughtblab|  Apt 1200|    Fonte|        499.8|
|   Edgeblab|17th Floor|    Pesek|       499.76|
|     Camido|  Apt 1720|Longzhong|       499.76|
|    Centizu|  Suite 86|   Tylicz|       499.73|
+-----------+----------+---------+-------------+

+---------------+-----------+------------------+-----------+
|           city|    country|     total_revenue|total_sales|
+---------------+-----------+------------------+-----------+
|      Stockholm|      China|2056.8300000000004|          8|
|       Xinglong|      China|           1097.46|          3|
|      København|      China| 986.4599999999999|          3|
|      Hats’avan|      China|            983.25|          3|
|     Al Manāqil|      China|            956.95|          2|
|       Västerås|      China| 956.2900000000001|          3|
|      Changping|      China|             939.2|          2|
|  San Francisco|  Indonesia|            924.19|          2|
|        La Cruz|      China|            913.25|          2|
|      Myślenice|      China| 891.0899999999999|          2|
|           Fasi|  Indonesia|            875.65|          2|
|          Shaxi|   Colombia|             835.6|          2|
|          Luleå|      China|            823.23|          2|
|     Beigucheng|Philippines| 818.0799999999999|          2|
|     Washington|  Indonesia| 799.8299999999999|          2|
|          Qilin|     Brazil|            795.95|          2|
|       Bordeaux|      China|            795.26|          2|
|  San Francisco|     France|            780.85|          2|
|Marne-la-Vallée|     Mexico|            778.49|          2|
|          Solna|   Portugal|            768.29|          2|
+---------------+-----------+------------------+-----------+
only showing top 20 rows

+-------------+------------+---------------+-----------+
|         name|    location|           city|avg_receipt|
+-------------+------------+---------------+-----------+
|         DabZ|  13th Floor|         Grekan|     499.85|
|  Thoughtblab|    Apt 1200|          Fonte|      499.8|
|     Edgeblab|  17th Floor|          Pesek|     499.76|
|       Camido|    Apt 1720|      Longzhong|     499.76|
|      Centizu|    Suite 86|         Tylicz|     499.73|
|        Eadel|    Suite 39|          Baran|     499.71|
|      Skinder|   Room 1505|       Kapotnya|     499.69|
|        Eamia|   Room 1603|         Gaopai|     499.62|
|        Kazio|    Suite 14|     San Isidro|     499.62|
|         Yodo|  20th Floor|      Lugouqiao|     499.59|
|   Fivebridge|PO Box 20543|       Cantilan|     499.58|
|    Topiczoom|    Suite 54|        Ćuprija|     499.48|
|        Abatz|PO Box 23541|        Suileng|     499.47|
|         Oloo|    Suite 15|      Donglinxi|     499.47|
|      Realmix|  17th Floor|    Tres Unidos|     499.42|
|         Lajo|   9th Floor|    Moshenskoye|     499.42|
|     Kanoodle|PO Box 78771|        Xijiang|     499.34|
|Thoughtbridge|   Room 1541|Krasnofarfornyy|     499.29|
|        Avamm|    Room 870|          Banag|     499.24|
|      Gabcube|   Room 1674|     Corredoura|     499.21|
+-------------+------------+---------------+-----------+
only showing top 20 rows

In [8]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_store"
}

top5_stores.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "top5_stores") \
    .save()

sales_by_location.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "sales_by_location") \
    .save()

avg_check_per_store.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "avg_check_per_store") \
    .save()

In [9]:
sales_with_customers = sales.join(customers, on="customer_id")

# Считаем топ-10 клиентов по сумме покупок
top10_customers = (
    sales_with_customers
    .groupBy("first_name", "last_name")
    .agg(spark_sum("total_price").alias("total_spent"))
    .orderBy(col("total_spent").desc())
    .limit(10)
)

top10_customers.show()

country_distribution = (
    customers
    .groupBy("country")
    .agg(count("customer_id").alias("customer_count"))
    .orderBy(col("customer_count").desc())
)

country_distribution.show()

avg_receipt = (
    sales_with_customers
    .groupBy("first_name", "last_name", "email")
    .agg(
        spark_sum("total_price").alias("total_spent"),
        count("sale_id").alias("purchase_count")
    )
    .withColumn("avg_receipt", col("total_spent") / col("purchase_count"))
)
avg_receipt.show()

+----------+----------+-----------+
|first_name| last_name|total_spent|
+----------+----------+-----------+
|     Kippy|   McCurry|     538.04|
|       Gus| Hartshorn|     499.85|
|     Hayes|    McKain|      499.8|
|       Ava|     Lomas|     499.76|
|     Dawna|     Impey|     499.76|
|   Lavinia| Horsburgh|     499.73|
|      Dame|Auchinleck|     499.71|
|  Isahella|    Colley|     499.69|
|    Sisely|  Bonevant|     499.62|
|     Nicky|    Lattie|     499.62|
+----------+----------+-----------+

+--------------+--------------+
|       country|customer_count|
+--------------+--------------+
|         China|          1738|
|     Indonesia|          1174|
|        Russia|           628|
|   Philippines|           555|
|        Brazil|           385|
|      Portugal|           336|
|        Poland|           332|
|        France|           322|
|        Sweden|           264|
| United States|           211|
|         Japan|           201|
|       Ukraine|           155|
|      Colombia|           152|
|Czech Republic|           140|
|        Canada|           137|
|      Thailand|           126|
|          Peru|           123|
|        Greece|           116|
|     Argentina|           113|
|       Nigeria|           103|
+--------------+--------------+
only showing top 20 rows

+----------+-----------+--------------------+-----------+--------------+-----------+
|first_name|  last_name|               email|total_spent|purchase_count|avg_receipt|
+----------+-----------+--------------------+-----------+--------------+-----------+
|     Bobbi|  Letterese|   nnevillgm@unc.edu|      56.77|             1|      56.77|
|     Tessa|    Phippin|mtemperleyx@adobe...|     152.79|             1|     152.79|
|   Abrahan|       Alps|  htillotqc@cnet.com|     254.18|             1|     254.18|
| Cathyleen|   Swindley|crosendall18@yaho...|     387.03|             1|     387.03|
|     Fayre| Quiddinton| kmoulster3i@com.com|     277.98|             1|     277.98|
|    Holden|    Haggish|bfearick1w@devian...|     153.25|             1|     153.25|
|        Em|Tewkesberry|acostenkc@booking...|     367.51|             1|     367.51|
|    Graham|      Tilne|ctolworthyqv@theg...|       61.5|             1|       61.5|
|   Benoite|     Rummer|rdoolergr@faceboo...|     315.79|             1|     315.79|
|   Fanchon|     Wenden|  fcrandonhw@bbb.org|      79.28|             1|      79.28|
| Morganica|    McFadin|jandreoletti9g@mt...|     128.28|             1|     128.28|
|    Basile|     Johann|dcarrickob@harvar...|     443.62|             1|     443.62|
|   Gregory|       Figg|     rtarndo@wsj.com|      460.4|             1|      460.4|
|  Mignonne|    Caspell|ndaleqq@reverbnat...|      27.23|             1|      27.23|
|  Bobbette|Mattityahou|    hdumingosif@g.co|      110.0|             1|      110.0|
|    Thekla|     Cornew|dfarres6b@cyberch...|      25.25|             1|      25.25|
|    Sianna|   Gosselin|  ncrosbie72@mit.edu|      229.4|             1|      229.4|
|     Dukie|   Petrollo|adillawayky@brave...|     153.59|             1|     153.59|
|     Kelli|    Charley|agillham5o@cisco.com|     430.16|             1|     430.16|
| Marcellus|   Collcott|hwhittickcl@techc...|     180.28|             1|     180.28|
+----------+-----------+--------------------+-----------+--------------+-----------+
only showing top 20 rows

In [10]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_client"
}

top10_customers.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "top10_customers") \
    .save()

country_distribution.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "country_distribution") \
    .save()

avg_receipt.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "avg_receipt") \
    .save()

In [11]:
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

supplier_sales = sales.join(
    suppliers.select("supplier_id", "name", "contact", "email", "country"),
    on="supplier_id",
    how="left"
)

supplier_agg = supplier_sales.groupBy("supplier_id", "name", "contact", "email", "country").agg(
    spark_sum("total_price").alias("total_revenue"),
    avg(col("total_price") / col("quantity")).alias("avg_unit_price")
)

supplier_agg.show()

window_spec = Window.orderBy(col("total_revenue").desc())

top5_suppliers = supplier_agg.withColumn("rank", row_number().over(window_spec)) \
                            .filter(col("rank") <= 5) \
                            .drop("rank")
top5_suppliers = top5_suppliers.select("supplier_id", "name", "contact", "email", "total_revenue")
top5_suppliers.show()

sales_by_country = supplier_agg.groupBy("country").agg(
    spark_sum("total_revenue").alias("total_revenue_by_country")
)

sales_by_country.show()

+-----------+-----------+-------------------+--------------------+--------------+-------------+------------------+
|supplier_id|       name|            contact|               email|       country|total_revenue|    avg_unit_price|
+-----------+-----------+-------------------+--------------------+--------------+-------------+------------------+
|       2529|       Zava|      Erik Frankham|efrankhameo@theat...|     Venezuela|       317.33| 52.88833333333333|
|       9968|      Meetz|    Stephani Wilmot| swilmotqv@opera.com|   Philippines|       392.24| 43.58222222222222|
|       7225|      Miboo|    Sallyanne Tudge| studge68@cpanel.net|         China|        81.48|             27.16|
|         29|     Tekfly|Worthington Wakelin|wwakelins@dyndns.org|      Portugal|       339.27|            339.27|
|       5409|     Meevee|   Norene Grimsdith|ngrimsdithbc@bibl...|     Mauritius|       207.24|            41.448|
|       1806|  Bubblebox|    Clarice Fieller|  cfiellermd@mapy.cz|         China|       363.92|            363.92|
|       1950|   Wordtune|      Arlina Capell|acapellqd@t-onlin...|         Italy|       414.14|            414.14|
|       3091|   Skipfire| Enriqueta Scottini| escottini2i@mit.edu|     Indonesia|       165.69|            27.615|
|       4823|     Camido|Worthington Rambaut| wrambautmu@cnet.com|     Macedonia|       132.64|18.948571428571427|
|       9945|    Buzzdog|    Valaree Bollins|  vbollinsq8@ftc.gov|        Canada|        36.63|           4.57875|
|       4590|Twitterbeat|          Ly Allett|lallettgd@acquire...|Czech Republic|        276.3|            138.15|
|       7747|       Katz|         Bee Gabbot|bgabbotkq@google....|         China|        262.6|             262.6|
|       6721|      Meetz|        Mady Capron|mcapronk0@barnesa...|         China|       362.68|            72.536|
|       2040| Shuffletag|        Nevin Corse|ncorse13@deliciou...|     Indonesia|       343.14|            114.38|
|       8484|       Kare|      Gill Gantlett|ggantlettdf@cafep...|         Italy|         31.2| 4.457142857142857|
|        964|   Photobug|       Chlo Rothert|   crothertqr@wp.com|         China|       482.31|            160.77|
|       3506|    Centizu|    Kandace Shimony| kshimonye1@1688.com|       Finland|       263.27|          32.90875|
|       2214|      Rooxo|   Leicester Comino|lcomino5x@tumblr.com|        Russia|       107.53|15.361428571428572|
|       8440|       DabZ|      Tatum Gorling| tgorlingc7@phoca.cz|     Mauritius|        32.94|            4.1175|
|       4894|   Centidel|     Cleo Biggadyke|cbiggadykeot@ange...|        Greece|       496.99|            496.99|
+-----------+-----------+-------------------+--------------------+--------------+-------------+------------------+
only showing top 20 rows

+-----------+----------+---------------+--------------------+-------------+
|supplier_id|      name|        contact|               email|total_revenue|
+-----------+----------+---------------+--------------------+-------------+
|       4188|Brainverse|Barbabas Feasby|    bfeasby57@ed.gov|       499.85|
|       6422|     Jamia|   Sax Stappard|sstappardbp@webno...|        499.8|
|       6361|     Eabox|      Dell Sore|     dsorea0@soup.io|       499.76|
|       5923|   Demimbu|  Reggis Ivatts|   rivattspm@nps.gov|       499.76|
|       8616|Browsezoom| Padgett Revill|previllh3@pcworld...|       499.73|
+-----------+----------+---------------+--------------------+-------------+

+--------------------+------------------------+
|             country|total_revenue_by_country|
+--------------------+------------------------+
|                Chad|      2051.0299999999997|
|              Russia|      149206.74999999997|
|            Paraguay|      2957.8600000000006|
|               Yemen|      11414.630000000003|
|             Senegal|      3162.4100000000008|
|              Sweden|                52074.94|
|             Tokelau|                  425.99|
|            Kiribati|                  409.83|
|French Southern T...|                   287.3|
|              Guyana|                 1325.27|
|         Philippines|                136135.1|
|             Eritrea|      352.91999999999996|
|               Tonga|      340.79999999999995|
|            Djibouti|                  397.67|
|            Malaysia|      13223.609999999999|
|                Fiji|      450.84000000000003|
|              Turkey|                  847.19|
|              Malawi|      1763.5400000000002|
|                Iraq|      2935.7899999999995|
|             Germany|       9078.969999999998|
+--------------------+------------------------+
only showing top 20 rows

In [12]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_supplier"
}

supplier_agg.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "supplier_agg") \
    .save()

top5_suppliers.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "top5_suppliers") \
    .save()

sales_by_country.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "sales_by_country") \
    .save()

In [13]:
reviews_enriched = ratings.join(
    products.select("product_id", "name", "brand", "category"),
    on="product_id",
    how="left"
)

sales_enriched = sales.join(
    products.select("product_id", "name", "brand", "category"),
    on="product_id",
    how="left"
)

review_metrics = reviews_enriched.groupBy("name", "brand", "category").agg(
    avg("rating").alias("avg_rating"),
    count("*").alias("review_count")
)

sales_metrics = sales_enriched.groupBy("name", "brand", "category").agg(
    spark_sum("quantity").alias("total_quantity_sold")
)

product_quality = review_metrics.join(
    sales_metrics,
    on=["name", "brand", "category"],
    how="outer"
)

top_rated = product_quality.orderBy(col("avg_rating").desc()).limit(5)
lowest_rated = product_quality.orderBy(col("avg_rating").asc()).limit(5)

top_rated.show()
lowest_rated.show()

from pyspark.sql import Row

correlation = product_quality.stat.corr("avg_rating", "total_quantity_sold")
corr_df = spark.createDataFrame([Row(correlation=correlation)])
corr_df.show()

most_reviewed = product_quality.orderBy(col("review_count").desc()).limit(5)
least_reviewed = product_quality.orderBy(col("review_count").asc_nulls_last()).limit(5)

most_reviewed.show()
least_reviewed.show()

+---------+----------+--------+----------+------------+-------------------+
|     name|     brand|category|avg_rating|review_count|total_quantity_sold|
+---------+----------+--------+----------+------------+-------------------+
|  Cat Toy|  Flashdog|     Toy|       5.0|           1|                  2|
| Dog Food|      Eire|     Toy|       5.0|           1|                  7|
|  Cat Toy| Jaxnation|     Toy|       5.0|           1|                  5|
|Bird Cage|   Camimbo|    Cage|       5.0|           1|                  5|
|  Cat Toy|Topicstorm|    Cage|       5.0|           1|                  4|
+---------+----------+--------+----------+------------+-------------------+

+---------+-----------+--------+----------+------------+-------------------+
|     name|      brand|category|avg_rating|review_count|total_quantity_sold|
+---------+-----------+--------+----------+------------+-------------------+
|Bird Cage|Babblestorm|    Cage|       1.0|           1|                  7|
|  Cat Toy|      Mycat|    Cage|       1.0|           1|                  7|
|  Cat Toy|      Oyoyo|    Food|       1.0|           1|                 10|
|  Cat Toy|    Tagchat|    Food|       1.0|           1|                  9|
|  Cat Toy|    Zoonder|    Cage|       1.0|           1|                  5|
+---------+-----------+--------+----------+------------+-------------------+

+--------------------+
|         correlation|
+--------------------+
|-0.00157413041153...|
+--------------------+

+---------+--------+--------+------------------+------------+-------------------+
|     name|   brand|category|        avg_rating|review_count|total_quantity_sold|
+---------+--------+--------+------------------+------------+-------------------+
|Bird Cage|Photobug|    Cage| 2.692307692307693|          13|                 69|
|Bird Cage|    Jayo|     Toy| 2.338461538461538|          13|                 64|
|Bird Cage| Dynabox|     Toy|3.2181818181818187|          11|                 62|
|  Cat Toy|    Jayo|    Food| 2.927272727272727|          11|                 70|
| Dog Food|   Npath|     Toy|3.1727272727272724|          11|                 62|
+---------+--------+--------+------------------+------------+-------------------+

+---------+---------+--------+----------+------------+-------------------+
|     name|    brand|category|avg_rating|review_count|total_quantity_sold|
+---------+---------+--------+----------+------------+-------------------+
|Bird Cage|    Aimbu|     Toy|       4.4|           1|                  9|
|Bird Cage|Babbleset|     Toy|       4.2|           1|                 10|
|Bird Cage|    Aivee|    Cage|       3.0|           1|                  2|
|Bird Cage|    Abata|    Food|       4.0|           1|                  4|
|Bird Cage|   Avamba|     Toy|       4.9|           1|                  5|
+---------+---------+--------+----------+------------+-------------------+

In [14]:
base_options = {
    "uri": "mongodb://zloyaloha:12341234@mongodb:27017/?authSource=admin",
    "database": "sales_by_reviews"
}

least_reviewed.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "least_reviewed") \
    .save()

most_reviewed.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "most_reviewed") \
    .save()

corr_df.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "corr_df") \
    .save()

lowest_rated.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "lowest_rated") \
    .save()

top_rated.write \
    .format("mongo") \
    .mode("overwrite") \
    .options(**base_options) \
    .option("collection", "top_rated") \
    .save()